.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.armorList {
  display: inline-block;
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  background-color: #f0f0f0;
  color: #333;
}
.armorList h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.armorList img {
  width: 100%;
  border-radius: 10px;
}

.armorList :hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease; 
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
