body {
    background-color: darkkhaki;
}

h1{
    color: dodgerblue;
    text-align: center;
    font-style: italic;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-shadow: 3px 3px lightgray;
}

p{
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkred;
    font-weight: bold;
    text-shadow: 2px 2px lightgray;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;   
}

fallout-card {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}